page-feed {
    
    h2.feed_name {
        color: red;
    }


    button.button.button-md.button-default.button-default-md.button-block.button-block-md {
        margin-bottom: 5px;
        width: 85%;
        display: block;
        margin: 0 auto;
    }



    .card-md {
        box-sizing: border-box;
        padding-bottom: 15px;
    }

}

